<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="ai.advance.liveness_plugin">

    <application>

        <activity
            android:name=".activity.LivenessActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
